

<!-- START SILDE -->
<div class="container__header-slide">
        <div class="container__img">
        <img class="container__imgs" src="./img/slideshow_1.webp" alt="">
        <img class="container__imgs" src="./img/slideshow_2.webp" alt="">
    </div>
    <div class="arrow">
        <div class="arrows arrow__left-js">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="arrows arrow__right-js">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
</div>
<!-- END SILDE -->



<!-- START SHOW CATEGORY -->
<div class="container__category">
    <div class="category__main">
        <div class="category__mains category__main-tops">
            <a href=" "><img class="category__imgs category__img-tops " src="./img/block_home_category1_new.webp " alt=" "></a>
        </div>
        <div class="category__mains category__main-pants ">
            <a href=""><img class="category__imgs category__img-pants" src="./img/block_home_category2_new.webp" alt=""></a>
        </div>
        <div class="category__mains category__main-outerwear">
            <a href=" "><img class="category__imgs category__img-outerwear " src="./img/block_home_category3_new.webp " alt=" "></a>
        </div>
    </div>
    <div class="category__show ">
        <a href=" "><img class="category__show-img " src="./img/show_block_home_category_image_3_new.webp " alt=" "></a>
    </div>
</div>

<!-- END SHOW CATEGORY -->
<!-- START BLOCK LAYOUT PRODUCT -->
<div class="container__products row">
{{#each_when products 'select' 'HOME'}}
    <div class="products-inf col-md-3 col-md-6">
        <div class="product__img" title="{{this.name}}">
            <a href="/products/{{this.slug}}">
                <div class="product__imgs product__img-front">
                    <img src="{{this.imgf}}" alt="">
                </div>
                <div class="product__imgs product__img-backside">
                    <img src="{{this.imgb}}" alt="">
                </div>
            </a>
            <div class="product__buy-cart">
                <button type="submit" title="Mua ngay" class="action" onclick="buy_now('1084585343')">Mua ngay</button>
                <button type="submit" title="Thêm vào giỏ" class="action add-to-cart" data-variantid="1084585343">Thêm vào giỏ</button>
            </div>
        </div>
        </a>
        <div class="product__name-price font-oswald">
            <a href="/products/{{this.slug}}" class="product__name font-oswald">
                <h2>{{this.name}}</h2>
            </a>
            <div class="product__price">
                {{this.price}}
            </div>
        </div>
    </div>
{{/each_when}}
</div>
<!-- END BLOCK LAYOUT PRODUCT -->

<!-- START POSTS -->
<div class="container__posts row">
    <div class="container_posts-main">
        <div class="container__post">
            <div class="posts__img">
                <img src="./img/post-1.jpg" alt="" class="posts__img-style">
            </div>
            <div class="posts__time">
                Thứ Ba 16,03,2021
            </div>
            <h2 class="posts__title">
                <a href=""> Hades - Một Trong Những "Phát Súng Đầu Tiên" của <br />Vietnamese Streetwear</a>
            </h2>
            <div class="posts__content">
                Ra đời từ những năm cuối thế kỷ 20, streetwear là phong cách thời trang phổ biến của cộng đồng đam mê bộ môn skateboard. Dù mới “bén duyên” với giới...
            </div>
            <a href="
    " class="posts__more">Xem thêm</a>
        </div>
        <div class="container__post">
            <div class="posts__img">
                <img src="./img/post-2.webp" alt="" class="posts__img-style">
            </div>
            <div class="posts__time">
                Thứ Ba 16,03,2021
            </div>
            <h2 class="posts__title">
                <a href=""> Hades Streetwear Đồng Hành Cùng "Highshool Best <br /> Dance Crew"</a>
            </h2>
            <div class="posts__content">
                Tiếp tục thực hiện sứ mệnh "lan toả phong cách sống tích cực tới thế hệ trẻ", Hades chính thức nhận lời mời đồng hành cùng High School Best Dance...
            </div>
            <a href=" " class="posts__more">Xem thêm</a>
        </div>
    </div>
</div>
<!-- END POSTS -->

<!-- START TEXT ANIMATION -->

<div>
    <div class="site-animation wrapper-heading-home wrapper-heading-home-instagram" style="text-align: center;padding-bottom: 10px;">
        <div class="wrapper-animation2">

            <span class="text-animation-2">
                    <h2>
                        <span>streetwear brand limited</span>
            </h2>
            </span>

            <span class="text-animation-2">
                    <h2>
                        <span>streetwear brand limited</span>
            </h2>
            </span>

            <span class="text-animation-2">
                    <h2>
                        <span>streetwear brand limited</span>
            </h2>
            </span>

            <span class="text-animation-2">
                    <h2>
                        <span>streetwear brand limited</span>
            </h2>
            </span>

            <span class="text-animation-2">
                    <h2>
                        <span>streetwear brand limited</span>
            </h2>
            </span>

            <span class="text-animation-2">
                    <h2>
                        <span>streetwear brand limited</span>
            </h2>
            </span>

            <span class="text-animation-2">
                    <h2>
                        <span>streetwear brand limited</span>
            </h2>
            </span>

            <span class="text-animation-2">
                    <h2>
                        <span>streetwear brand limited</span>
            </h2>
            </span>

            <span class="text-animation-2">
                    <h2>
                        <span>streetwear brand limited</span>
            </h2>
            </span>

        </div>
    </div>
</div>

<!-- END TEXT ANIMATION -->

<script>
   
// Hiệu ứng chuyển SLIDE
var arrowLefft = document.querySelector('.arrow__left-js')
var arrowRight = document.querySelector('.arrow__right-js')
var lengthImgs = document.querySelectorAll('.container__imgs').length
let index = 0
arrowLefft.addEventListener('click', function() {
    if (index > 0) {
        index--
    } else {
        index = lengthImgs - 1
    }
    document.querySelector('.container__img').style.transform = `translateX(-${index*100}%)`
})
arrowRight.addEventListener('click', function() {
    if (index < lengthImgs - 1) {
        index++
    } else {
        index = 0
    }
    document.querySelector('.container__img').style.transform = `translateX(-${index*100}%)`
})
</script>

